*{
    margin :0;
    padding:0;
}
/*body .pokeback{
    z-index: 10;
    height: 100vh;
    width: 100%;
} */

.background{
    background-image: url("../img/pattern.jpg");
    min-height: 100vh;
    width: 100%;
}

