*{
    margin :0;
    padding:0;
}

body{
    height: 800vh;
}
/*body .pokeback{
    z-index: 10;
    height: 100vh;
    width: 100%;
} */

.background{
    background-image: url("https://assets.awwwards.com/awards/images/2015/04/pattern.jpg");
    height: 100%;
    width: 100%;
}

