
body{
    font-family: 'Righteous', cursive;
}

a{
    text-decoration: none;
    color: #3b3b3b;
}

.item-content-container{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-column-gap: 1.5rem;
    padding: 5.5rem 1.5rem 0 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}
.item-container{
    background: #f6f6f6;
    border-radius:20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    padding: 30px;
}

.item-wrapper{
    display: grid;
    /* grid-template-columns: 2fr 2fr 2fr 2fr 2fr; */
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    margin: 0 0 1.5rem;
}

.item-filter-container{
    background: #f6f6f6;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    padding: 10px 10px;
    
}
.item-logo-filter{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.item-logo-filter img{
    height: 90px;
}



.item{
    border-radius: 30px;
    background: #efefef;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.item-image{
    background: #e7e7e7;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-image img{
    width: 100px;
}
.item-infos{
    padding: 2% 10% 10% 10%;
}
.item-id{
    font-size: 14px;
    color: grey;
    padding-left: 5%;
}
.item-name{
    font-size :18px;
    color: #3b3b3b;
    padding: 8% 5%;
}

.click{
    cursor: pointer;
}

.item-itemdex:hover{
    background:#e91d26;
    color: white;
}