.poke-desc-container{
    padding: 5.5rem 1.5rem 0 0;
    max-width: 70%;
}
.poke-desc-wrapper{
    background: #f6f6f6;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    padding: 30px;
}
.poke-desc{
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-column-gap: 1.5rem;
}
.poke-image{
    background: #e7e7e7;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.poke-image img{
    width: 100%;
    background: #e7e7e7;
    border-radius: 20px;
}
.poke-id-name{
    padding-bottom: 5%;
}
.poke-id{
    color: grey;
    font-size: 30px;
    padding-right: 10px;
}
.poke-name{
    color: #3b3b3b;
    font-size: 30px;
}
.poke-description{
    font-size: 18px;
    text-align: justify;
}

.poke-type-container{
    padding-bottom: 10px;
}
.first-type{
    margin-right: 0.5rem;
}
.poke-weak-strength-wrapper{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-column-gap: 1.5rem;
}
.weaknesses,.strengths{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-gap: 0.5rem;
}
.types{
    display: flex;
}
.type{
    padding: 8px;
    border-radius: 10px;
    font-size: 15px;
    width: 110px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5)
}
.normal{background:#a7a99d ;}
.grass{background: #79b05f;}
.poison{background:#a46a94;}
.psychic{background:#e473a1;}
.ground{background:#cfb063;}
.ice{background:#7dc9e9;}
.fire{background:#e7624f;}
.rock{background:#b5a66f;}
.dragon{background:#827bdc;}
.water{background:#4c9be8;}
.bug{background:#acb14a;}
.fighting{background:#aa664e;}
.shadow{background:#7578bb;}
.flying{background:#6f95e3;}
.electric{background:#e9c15e;}
.steel{background:#abadba;}
.dark{background:#8a6b57;}
.fairy{background:#daa6d7;}
.ghost{background:#817a8a;}


.pokevolution{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    padding: 50px 0;
    background: #e7e7e7;
    border-radius: 20px;
}
.pokevolution-infos-wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.pokevolution-id{
    padding-right: 7px;
}
.evolution-image img{
    width: 200px;
    border-top: 1px solid #d4d4d4;
}
.first-evolution,.second-evolution,.last-evolution{
    background: #f6f6f6;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.arrow{
    display: flex;
    align-items: center;
}

